<div class="alert alert-success" role="alert">
  <div class="row">
    <div class="col-12 col-md-8">
      <img [src]="urlGif" alt="Hướng dần tìm từ cùng vần" id="gif">
      <div class="row">
        <div class="col-12">
          <ul class="list-unstyled">
            <li>
              <h4>Hướng dẫn tìm từ cùng vần</h4>
              <ul>
                <li>Bỏ hết dấu chữ cái( huyền, sắc, hỏi, ngã, nặng) nếu có</li>
                <li>Thêm dấu chấm ('.') hoặc dấu cách (' ') vào sau chữ cái cần thêm dấu</li>
              </ul>
            </li>
            <br>
            <li>
              <h4>Ví dụ tìm những từ cùng vần với từ 'vần'</h4>
              <ul>
                <li>Bỏ dấu huyền, được chữ 'vân'</li>
                <li>Thêm dấu chấm hoặc dấu cách vào sau chữ 'â' để tool hiểu là cần thêm dấu cho chữ â</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 about">
      <div class="d-flex justify-content-center">
        <img id="avatar" [src]="avatar" alt="" width="100" height="100">
      </div>
      <h3 id="title">{{title}}</h3>
      <p id="description">{{description}}</p>
      <hr>
      <div class="social">
        <div class="row">
          <div class="col-sm">
            <div class="row d-flex justify-content-center">
              <img [src]="logoFacebook" alt="" width="20" height="20">
              <a [href]="urlFacebook" target="_blank">
                <p class="username">xuanhuylife</p>
              </a>
            </div>
          </div>
          <div class="col-sm">
            <div class="row d-flex justify-content-center">
              <img [src]="logoInstagram" alt="" width="20" height="20">
              <a [href]="urlInstagram" target="_blank">
                <p class="username">xuanhuyjs</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-end">


  </div>